.header-wrapper {
  height: 70px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-logo-container {
    width: 70px;
    .header-logo {
      width: 70px;
      height: 70px;
      margin-left: 20px;
    }
  }
  .header-items {
    min-width: 50%;
    display: flex;
    justify-content: flex-end;

    > div > span {
      transition: 300ms ease-in;
      margin-right: 20px;
      font-size: 18px;
      cursor: pointer;
    }

    > a {
      transition: 300ms ease-in;
      margin-right: 20px;
      font-size: 18px;
    }
  }
}
.header-items:hover {
  > a {
    margin-right: 40px;
  }
}
