.header-wrapper {
  height: 70px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .header-logo-container {
    width: 70px;
    margin-left: 20px;
    .header-logo {
      width: 70px;
      height: 70px;
    }
  }
  .header-items {
    float: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    > a {
      transition: 300ms ease-in;
      margin-right: 20px;
      font-size: 18px;
    }
  }
}
.cart-logo {
  width: 30px;
  height: 30px;
  justify-content: flex-end;
}
.header-items:hover {
  > a {
    margin-right: 40px;
  }
}
