.custom-button {
  min-width: 40%;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
.google-sign-in {
  background-color: #5694ff;
  color: white;
  transition: 500ms ease;
}
.google-sign-in:hover {
  background-color: #1919c9;
}
