.menuitem-overflow-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.menuitem-wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 500ms ease-in;
}
.menuitem-content {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  color: #353839;
  text-align: center;

  h2 {
    text-transform: uppercase;
  }
}

.menuitem-wrapper:hover {
  transform: scale(1.1);
}
.menuitem-wrapper:hover .menuitem-content {
  background-color: rgba(255, 255, 255, 0.9);
}
